@{
    ViewBag.Title = "Contact";


}
<br />
<br />
<center>
    <img class="img-responsive" src="~/Models/Img/contato.jpg" style="width: 1000px; " />
</center>
<br />
<br />


<div style=" margin-left: 50px;">
    <h4> Entre em contato ou deixe uma mensagem que respondemos em breve!</h4><br />
    <h4>Telefone :(85) 32332270</h4><br />
    <h4>Celular/WhatApp : (85) 987160640</h4><br />
    <h4>E-mail: <a href="mailto:gnvcentergas@hotmail.com ">gnvcentergas@hotmail.com</a> </h4><br />
</div>

